.result-card {
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: auto;
    grid-template-areas: "details poster"
}

.result-card .result-card--left {
    grid-area: details;
}
.result-card .result-card--right {
    grid-area: poster;
}
